<h1> Index Menu </h1>
<table>
  <thead>
    <tr>
        <td><b>Number</b></td>
        <td><b>Feature</b></td>
        <td><b>Description</b></td>
        <td><b>Link To</b></td>
        <td><b>Action</b></td>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>1</td>
        <td>Category</td>
        <td>This is CRUD feature for Category of Menu</td>
        <td>{baseUrl}/category</td>
        <td><a href="/category/">Access</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Menu</td>
        <td>This is CRUD feature for Menu that you can order</td>
        <td>{baseUrl}/menu</td>
        <td><a href="/menu/">Access</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Customer</td>
        <td>This is CRUD feature for new customer or exist customer</td>
        <td>{baseUrl}/customer</td>
        <td><a href="/customer/">Access</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Order</td>
        <td>This is CRUD feature for Order that customer make</td>
        <td>{baseUrl}/order</td>
        <td><a href="/order/">Access</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Order Detail</td>
        <td>This is CRUD feature for Order Detail if you want to more detail each of order detail</td>
        <td>{baseUrl}/order_detail</td>
        <td><a href="/order_detail/">Access</a></td>
      </tr>
  </tbody>
</table>