<h1> Customer Details </h1>
<p id="notice"><%= notice %></p>
<table>
  <% @customer.each do |customer| %>
    <tr>
        <td><b>Customer name: </b></td>
        <td><%= customer.name %></td>
    </tr>
    <tr>
        <td><b>Customer Phone: </b></td>
        <td><%= customer.phone %></td>
    </tr>
    <tr>
        <td><b>Customer email: </b></td>
        <td><%= customer.email %></td>
    </tr>
  <% end %>
</table>